:root {
    /* change the values below to your colors from your palette */
    --primary-color: #EF476F   ;
    --secondary-color: #FED166 ;
    --accent1-color: #06D6A0;
    --accent2-color: #118AB2;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "sans-serif";
    --paragraph-font: serif, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }
  
 h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
  } 

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    text-align: center;
    justify-content: center;
    background-color: #fcfbfb;
    font-family: serif, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 1fr 0.5fr;
}

#logo {
    grid-column: 1/2;
    width: 80px
}

.logo-title {
    grid-column: 2/7;
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    text-align: left;
    justify-content: space-around;
    padding-top: 20px;
    color: black;
} 

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}


/* The navigation bar */

nav {
    grid-row : 2/3;
    grid-column: 1/10;
    font-family: 'serif', 'Helvetica', sans-serif;
    background-color: var(--nav-background-color);
    line-height: 1.5em;
    text-align: center;
    font-size: 1.2em;
  }

nav  {
    list-style-type: none;
    display: flex;
  
  }

  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
 
  /* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
 }  


.home-title {
    font-family: 'serif', 'Helvetica', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    color: black;
}

.rights {
    font-family: 'serif', 'Helvetica', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    color: black;
}

.button-box {
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.msg{
    font-family: 'serif', 'Helvetica', sans-serif;
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    grid-column: 4/10;
    font-size: 1em;
    margin-top: 0px;
}

#top-img {
    width: 1100px;
    height:500px;
}

footer {
    font-family: 'serif', 'Helvetica', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}  

footer a {
    text-align: center;
    color: #EF476F; 
    text-decoration: none;
}  


.historic-grid{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(40, 50px);


}

.historic-grid h2{
    grid-column: 1/21;
    grid-row: 1/2;
    margin-top: 15px;
    text-align: center;
}

.historic1{
    grid-column: 1/6;
    grid-row: 2/14;
}

.historic2{
    grid-column: 1/6;
    grid-row: 15/27;
}

.historic3{
    grid-column: 1/6;
    grid-row: 28/40;
}

.historic-img {
    width: 400px;
    height: 600px;
    border: 5px solid #FED166;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;    
}

.historic-img:hover{
    opacity: .6;
    transform: scale(1.1);
}


.historic1-msg {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 35px;
    grid-column: 8/21;
    grid-row: 2/14;    
    border: 5px solid var(--paragraph-background-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

}

.historic2-msg {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 35px;
    grid-column: 8/21;
    grid-row: 15/27;    
    border: 5px solid var(--paragraph-background-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.historic3-msg {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 35px;
    grid-column: 8/21;
    grid-row: 28/40;   
    border: 5px solid var(--paragraph-background-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.historic1-msg p, .historic2-msg p, .historic3-msg p {
    padding-bottom: 15px;
    font-family: serif, Helvetica, sans-serif;
    font-size: 25px;
}


.scenic-grid{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(40, 50px);


}

.scenic-grid h2{
    grid-column: 1/21;
    grid-row: 1/2;
    margin-top: 15px;
    text-align: center;
}

.scenic1{
    grid-column: 1/6;
    grid-row: 2/14;
}

.scenic2{
    grid-column: 1/6;
    grid-row: 15/27;
}

.scenic3{
    grid-column: 1/6;
    grid-row: 28/40;
}

.scenic-img {
    width: 400px;
    height: 600px;
    border: 5px solid #FED166;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;    
}

.scenic-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
  }

.scenic1-msg {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 35px;
    grid-column: 8/21;
    grid-row: 2/14;    
    border: 5px solid var(--paragraph-background-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

}

.scenic2-msg {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 35px;
    grid-column: 8/21;
    grid-row: 15/27;  
    border: 5px solid var(--paragraph-background-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.scenic3-msg {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    padding: 35px;
    grid-column: 8/21;
    grid-row: 28/40;
  
    border: 5px solid var(--paragraph-background-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.scenic1-msg p, .scenic2-msg p, .scenic3-msg p {
    padding-bottom: 15px;  
    font-family: serif, Helvetica, sans-serif;
    font-size: 25px;
}

#background2-historic1 {
    grid-column: 8/21;
    grid-row: 2/7;
    height: 300px;
    background-color: var(--paragraph-background-color);
}

#background2-historic2 {
    grid-column: 8/21;
    grid-row: 8/13;
    height: 300px;
    background-color: var(--paragraph-background-color);
}

#background2-historic3 {
    grid-column: 8/21;
    grid-row: 14/19;
    height: 300px;
    background-color: var(--paragraph-background-color);
}



#background2-scenic1 {
    grid-column: 8/21;
    grid-row: 2/7;
    height: 300px;
    background-color: var(--paragraph-background-color);
}

#background2-scenic2 {
    grid-column: 8/21;
    grid-row: 8/13;
    height: 300px;
    background-color: var(--paragraph-background-color);
}

#background2-scenic3 {
    grid-column: 8/21;
    grid-row: 14/19;
    height: 300px;
    background-color: var(--paragraph-background-color);
}

hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }